<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet permission for network requests -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name=".Test23Application"
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Test23">
        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:label="@string/app_name"
                android:theme="@style/Theme.Test23"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Deep link for discover screen -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="test23"
                      android:host="discover"/>
                <data android:scheme="https"
                      android:host="test23.example.com"
                      android:pathPrefix="/discover"/>
            </intent-filter>

            <!-- Deep link for search screen -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="test23"
                      android:host="search"/>
                <data android:scheme="https"
                      android:host="test23.example.com"
                      android:pathPrefix="/search"/>
            </intent-filter>

            <!-- Deep link for favourites screen -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="test23"
                      android:host="favourites"/>
                <data android:scheme="https"
                      android:host="test23.example.com"
                      android:pathPrefix="/favourites"/>
            </intent-filter>

            <!-- Deep link for game detail screen -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="test23"
                      android:host="game"/>
                <data android:scheme="https"
                      android:host="test23.example.com"
                      android:pathPrefix="/game"/>
            </intent-filter>
        </activity>
    </application>

</manifest>